[mysqld]

datadir=/var/lib/mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files

user=mysql
skip-name-resolve
innodb_buffer_pool_size = 256M 
general-log=ON
general-log-file=general.log

default_authentication_plugin=caching_sha2_password

[client]
socket=/var/run/mysqld/mysqld.sock
user = root
default-auth = caching_sha2_password
default-character-set = utf8mb4
